# Configuración de conexión a Base de Datos (MySQL / MariaDB)

# En Docker Compose automatizado, el host de la base de datos es el nombre del servicio: 'db'
DB_HOST=db

DB_USER=u631215701_lyd
DB_PASS=Pedidoslyd2026
DB_NAME=pedidos_lyd
DB_ROOT_PASS=RootPedidos2026
